@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}
:root {
    --bg-color: #080808;
    --sec-bg-color: #101010;
    --text-color: #fff;
    --main-color: #ea580c;
}
/* :root {
    --bg-color: #f5f5f5;
    --sec-bg-color: ghostwhite;
    --text-color: #101010;
    --main-color: #63afec;
} */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px;
    backdrop-filter: blur(10px);
    z-index: 100;
}
.header a{
    color: var(--text-color);
}
.logo{
    font-size: 25px;
    font-weight: 700;
    transition: all 0.3s ;
}
.logo:hover{
    transform: scale(1.1);
}
.gradient-span{
    background: linear-gradient(270deg, #df8908 10%, #eb0f0f 100%);
    color: transparent;
    background-clip: text;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
}
.navbar a{
    margin-left: 35px;
    padding: 3px;
    font-size: 18px;
    transition: all 0.3s ease-in;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.gradient-btn{
    background: linear-gradient(270deg, #df8908 10%, #eb0f0f 100%);
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 0 25px var(--main-color);
    transition: .3s;
}
.gradient-btn:hover{
    transform: scale(1.05);
}
#menu-icon{
    font-size: 25px;
    color: var(--main-color); 
    display: none;
}
.social-icons a{
    color: var(--text-color);
    font-size: 25px;
}
section{
    min-height: 100vh;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem 9%;
    gap: 9%;
}
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 55px;
    font-size: 4rem;
    line-height: 1;
}
.home-content h2{
    font-size: 35px;
    font-size: 2rem;
}
.social-icons a{
    display: inline-flex;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 8px;
    font-size: 20px;
    border-radius: 35%;
    border-radius: 50%;
    margin: 15px 5px ;
    transition: .3s ease-in-out;
}
.social-icons a:hover{
    box-shadow: 0 0 25px var(--main-color);
    transform: scale(1.2) translateY(-5px);
    background-color: var(--main-color);
    color: white;
}
.btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}
.btn{
    display: inline-block;
    margin: 5px 0;
    color: black;
    background-color: var(--main-color);
    padding: 10px 20px;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    font-weight: 600;
    box-shadow: 0 0 25px var(--main-color);
    transition: .3s ease-in-out;
}
.btn:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
}
.btn-group a:nth-of-type(2):hover{
    background-color: var(--main-color);
    color: black;
}
.home-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: all 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 9% 2rem;
    gap: 9%;
    background-color: var(--sec-bg-color);
}
.about-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: all 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.about-info h2{
    font-size: 2rem;
}
.about-info p{
    line-height: 1.8;
    padding-bottom: 1rem;
}
.about-info .more{
    margin:  1.5rem 0;
}
.about-info a:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}

.about-info ul li{
    list-style: none;
    padding-top: 5px;
}
strong{
    color: var(--main-color);
}

.heading{
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
    padding-top: 7%;
}
.services{
    background-color: var(--bg-color);
    color: black;
}
.services h2{
    color: var(--text-color);
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 9%;
}

.service-box{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: all 0.3s ease-in-out;
}.service-box:hover{
    transform: scale(1.03);
    background-color: var(--sec-bg-color);
    border: 5px solid var(--main-color);
    color: var(--main-color);
}
.service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.service-info h4{
    font-size: 2rem;
    font-weight: 800;
    margin: 1rem 0;
}
.service-info p{
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 500;
}
.service-info i{
    font-size: 4rem;
}

.projects{
    background-color: var(--sec-bg-color);
    margin: 0 2rem;
}
.project-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));


    text-align: center;
    gap: 2rem;
}
.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    background-color: var(--bg-color);
    gap: 1rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: all 0.3s ease-in-out;
}
.project-card:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color);
    transform: scale(1.02);
}
.project-card h3{
    font-size: 1.5rem;
}
.project-card p{
    padding: 1rem ;
}
.project-card img{
    max-width: 300px;
    padding: 1rem;
    border-radius: 2rem;
    object-fit: cover;
}
.project-card .btn{
    margin-bottom: 2rem;
}
.project-card .btn a{
    color: black;
}
.projects .heading{
    margin-bottom: 0;
}

/* Contact Section */

.contact form{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 2rem;
    margin: 0 3rem;
}
.contact form .input-box input, 
.contact form textarea {
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0.5rem 0;
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    resize: none;
}
.contact .input-group2 .btn{
    padding: 10px 25px;
}

.footer{
    background-color: var(--sec-bg-color);
    padding: 23px 0;
}
.footer .social-icons{
    text-align: center;
}
.footer ul{
    text-align: center;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
}
.footer ul li a{
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer .copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        border-bottom-left-radius: 1rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px 30px;
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 18px;
        margin: 2rem 0;
        color: var(--text-color);
    }
    .navbar.active{
        display: block;
    }
    .gradient-btn{
        display: none;
    }
    .home{
        flex-direction: column-reverse;
        gap: 4%;
        margin: 2rem 0;
        
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-img img{
        width: 56vw;
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
        gap: 5rem;
        padding: 7rem 9%;
    }
    .about h2{
        text-align: center;
        margin: 1rem 0;
    }
    .about img{
        width: 52vw;
     }
    .contact form{
        flex-direction: column;
     }
    .contact{
        gap: 5rem;
     }
}
@media (min-width:1285px){
    .service-box{
        height: 600px;
    }
    .project-card{
        height: 600px;
    }
}
::selection{
    background-color: var(--main-color);
}
